
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

html {
background-color: #E1E5F2;
}


p, body {
    font-family: "Mulish", sans-serif;
    font-size: .9 rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.4;
   
}
h1, h2, h3, h4 {
    font-family: "PT Serif Caption", serif;

}

h1 {
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 80px 80px 80px 80px;
    text-align: center;
    background-color: #1F7A8C;
    color: #FFFFFF;
    
}

h3 {
    font-size: 1.6rem;
    margin: 80px 80px 50px 80px;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 80px;
    padding-right: 80px;
}

.separator {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "PT Serif Caption", serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.topperimg {
    width: 90%;
    display: flex;
    justify-content: center; 
  text-align: left;
  height:auto;
  margin: 20px 80px 10px 80px;
  border: solid #1F7A8C;
  border-width: 10px;
}

.topperimg img {
    width: 100%; 
    max-height: 80vh; 
    object-fit: cover; 
    display: block; 
}

.toppercaption {
    font-size: 0.8rem;
    font-style: italic;
    margin: 0px 0px 0px 0px;
    width: 100%;
    font-size: .9rem;
}



.pullquote {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #1F7A8C;
    color: #FFFFFF;
    float: right;
    max-width: 250px;


}

.pullquote2 {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #1F7A8C;
    color: #FFFFFF;
    float: left;
    max-width: 250px;
}

.bold {
    font-weight: 700;
    color: #1F7A8C;
    text-shadow: rgb(244, 241, 241) 1px 1px;
}

.pt-serif-caption-regular {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: italic;

}

.mulish-regular {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.bodytext {
    padding-left: 80px;
    padding-right: 80px;
}

.secondimg {
    width: 100%;
    display: flex;
    justify-content: center; 
   ;
}

.image-container {
    max-width: 600px; /* Set to the same max width as the image */
    width: 80%; /* Ensure it scales responsively */
    text-align: center; /* Center the caption text */
    margin: 0 auto;
    background-color: #BFDBF7;
    border: 5px;
    border-style: solid;
    border-color: #1F7A8C;
}

.image-container img {
    width: 100%; /* Image will take up the full width of the container */
    height: auto;
    object-fit: cover; 
}

.caption {
    font-size: 0.8rem;
    font-style: italic;
    text-align: left;
    line-height: 1.4;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.thirdimg {
    width: 100%;
    display: flex;
   justify-content: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center ;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center ;
    }
}

@media (max-width: 600px) {
    h4 {
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 1rem;
        flex-direction: row;
        justify-content: center;
        align-content: center ;
    }
}

@media (max-width: 600px) {
    .topperimg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center ;
    }
}

@media (max-width: 600px) {
    .topperimg img {
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
        display: block;
    }
}

@media (max-width: 600px) {
    .toppercaption {
        font-size: 0.8rem;
        font-style: italic;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center ;
    }
}

@media (max-width: 600px) {
    .pullquote {
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .bold {
        font-weight: 700;
        color: #1F7A8C;
        text-shadow: rgb(244, 241, 241) 1px 1px;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .pt-serif-caption-regular {
        font-family: "PT Serif Caption", serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        flex-direction: row;
    }
}                              

    /* .chartcontainer {
        max-width: 100px;
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 80px;
        border: solid#1F7A8C;
        border-width: 20px;
    } */

    .topperimg {
        justify-content: center;
        align-content: center ;
    }
    .topperimg img {
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
        display: block;
    }


